* {
  box-sizing: border-box;
  font-family: 'Segoe UI';
}
body {
  margin: 0;
  padding: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #282c34; */
}

.text-center {
  text-align: center;
}
